{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted }}</small>
        <div>
          {% if user.authenticated == author %}
            <a class="btn btn-outline-secondary" href="{% url 'blog-update' object.id %}">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}" >Delete</a>
          {% endif %}
        </div>
      </div>
      <h2><a class="article-title">{{ object.title }}</a></h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content%}